/* create styling for all fonts and background color */
body{
  font-family: 'Noto Sans JP', sans-serif;
  background-image: linear-gradient(to right, #4169E1 , #6495ED);
}

h1{
  margin:5% 0 0 40%;
}
h2,ul{
  margin-left: 30%;
}
.clear{
  margin:1% 0 0 95%;
  border-radius: 50%;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
#eventTitle,#eventDateAndTime{
  margin-left: 40%;
}
#insert{
  margin-left: 45%;
  border-radius: 20px;
  width: 80px;
  font-size: 20px;
  background-color: #9932CC;
  color: white;
  cursor: pointer;
}
input{
  border-radius: 10px;
  font-size: 15px;
  padding:5px 0 5px 10px;
}
ul li{
  list-style: none;
  font-size: 20px;
  margin-top: 15px;
  border-width:5px;
  border-style:groove;
  width: 680px;
  padding: 5px 0 5px 15px;
  background-color: #9932CC;
  color: white;
}

.cancelbutton{
  position: absolute;
  right: 350px;
  font-size: 20px;
}
